:root {
  --main-color: #81afdc;
  --accent-color: #f7b50e;
  --soft-color: #eff5fb;
  --dark-color: #5c5c5c;
  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}
h1 {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 96px;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--dark-color);
}
.header h2 {
  font-weight: normal;
  font-size: 24px;
}
.header p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #5c5c5c;
  font-size: 36px;
}
.header {
  background-image: linear-gradient(
    var(--soft-color),
    var(--soft-color),
    white
  );
  text-align: center;
  padding: 100px 20px;
}
.btn-primary {
  background-color: var(--main-color);
  border: none;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}
.btn-primary:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
h2 {
  font-size: 50px;
  font-weight: bold;
}
.btn-primary-outline {
  background-color: white;
  color: var(--main-color);
  line-height: 27px;
  border: 1px solid var(--main-color);
}
.btn-primary-outline:hover {
  background-color: var(--main-color);
  color: white;
}
p {
  font-weight: normal;
  font-family: var(--font-body);
  line-height: 30px;
  color: var(--dark-color);
}

@media (max-width: 960px) {
  .project-description {
    text-align: center;
    padding: 0;
  }
  h1 {
    font-size: 45px;
    line-height: 2;
    margin-top: -20px;
  }
  h2 {
    font-size: 44px;
  }
  .header {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
  }
  .content-container img {
    margin-top: 65px;
  }
  .content-container h2 {
    line-height: 1.5;
  }
  nav li {
    font-size: 14px;
    margin: 0px;
  }
  .mobile-logo {
    margin-top: -8px;
  }
  .container-box h3 {
    font-size: 18px;
  }
  .email-link {
    font-size: 15px;
  }
  ul {
    justify-content: center;
  }
}

.project-description {
  padding: 20px;
  margin-top: 100px;
}
.content-container {
  max-width: 1000px;
  padding: 60px 20px;
}
.content-container h1 {
  font-size: 50px;
  line-height: 50px;
}
.content-container h2 {
  font-size: 24px;
  font-family: var(--font-body);
}
.content-container img {
  width: 400px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--font-body);
  font-weight: bold;
}
.content p {
  font-size: 14px;
}
.content a {
  text-decoration: none;
  color: var(--main-color);
}
.logo {
  max-height: 48px;
  margin-top: -10px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  margin-left: 15px;
}
nav ul {
  padding: 0px;
  font-family: var(--font-body);
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--main-color);
}
.container-navbar {
  padding: 0 20px 0px 10px;
}
footer {
  background-color: var(--soft-color);
  padding: 30px;
  border-radius: 0px;
}
footer h3 {
  font-size: 48px;
  font-weight: bold;
}
.email-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: var(--dark-color);
  font-size: 24px;
  font-family: var(--font-body);
  margin: 78px 0 40px 0;
}
.social-links {
  text-align: center;
  margin-bottom: 40px;
}
.social-links a {
  color: var(--main-color);
  width: 50px;
  margin: 0 20px;
  background-color: var(--soft-color);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.email-link:hover {
  color: var(--main-color);
}
.social-links a:hover {
  color: white;
  background-color: var(--main-color);
  transition: all 150ms ease-in-out;
}
.opensourced-link {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
}
.opensourced-link:hover {
  color: var(--main-color);
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
#logo-name {
  color: var(--dark-color);
}
#logo-name:hover {
  color: var(--main-color);
}
.my-picture {
  padding-left: 80px;
  margin-top: 10px;
}
.work-title {
  padding-right: 80px;
}
.work-container {
  margin-top: 100px;
}
.section-photography {
  margin-top: -45px;
}
.img-photography {
  margin-bottom: 15px;
}
.front-end-h2 {
  font-family: var(--font-body);
}
.about-row {
  margin-bottom: 100px;
}
